body {
  margin: 0;
  background: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin: 10px;
}

button,
a {
  background: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover,
a:hover {
  background: #666;
}

#flipbook {
  margin: 0 auto;
  display: block;
  width: auto;
  height: auto;
}
